<div class="min-h-full">
  <nav class="bg-white">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex items-center space-x-4">
            <a routerLink="/dashboard">
              <img src="" alt="Home" title="Home" class="h-8" />
            </a>
            <div class="flex items-center space-x-4">
              <a routerLink="/dashboard" href="#" title="dashboard" class="text-sm/6 font-semibold focus:outline-2 focus:outline-offset-2 focus:outline-indigo-500 text-gray-900">Dashboard</a>
            </div>
          </div>
        </div>
        <div class="md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <div *ngIf="!authService.isLoggedIn()" class="relative lg:flex lg:flex-1 lg:justify-end">
              <a routerLink="/login" class="text-sm/6 font-semibold text-gray-900" title="Log in">Log in <span aria-hidden="true">&rarr;</span></a>
            </div>
            <div *ngIf="authService.isLoggedIn()" class="flex items-center">
                <span class="pr-5">Welcome, {{ authService.username() }}</span>
                <button (click)="logout()" title="Logout" class="rounded bg-red-500 px-3 py-1 text-white hover:bg-red-600">Logout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
 </nav>

<header class="relative bg-white shadow-sm">
  <div class="mx-auto max-w-7xl px-4 py-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl tracking-tight sm:text-4xl text-pretty">{{routeTitle()}}</h1>
  </div>
</header>
<div class="flex min-h-screen">
  <!-- Right side: main + footer -->
  <div class="flex flex-1 flex-col">
    <!-- Main content -->
    <main class="flex-1 pl-10 p-6 bg-gray-50">
      <router-outlet></router-outlet>
    </main>

    <!-- Footer -->
    <footer class="border-t bg-white px-6 py-4 text-sm text-gray-500">
      Bhrigu©2026
    </footer>
  </div>
</div>
