<div class="min-h-full">
  <nav class="bg-gray-800">
    <div class="mx-auto px-4 sm:px-6 lg:px-8">
      
      <div class="flex h-16 items-center justify-between">
        <div class="flex items-center">
          <div class="flex items-baseline space-x-4">
            <span>
              <img src="https://www.bhrigu.tech/files/Bhrigu-logo-concept-2-0.png" alt="Logo" class="h-8" />
            </span>
            <div class="flex items-baseline space-x-4">
              <a routerLink="/dashboard" aria-current="page" class="px-3 py-2 text-sm font-medium text-white">Dashboard</a>
            </div>
          </div>
        </div>
        <div class="md:block">
          <div class="ml-4 flex items-center md:ml-6">
            <a *ngIf="!authService.isLoggedIn()" routerLink="/signup" class="relative rounded-full p-1 text-gray-400 hover:text-white focus:outline-2 focus:outline-offset-2 focus:outline-indigo-500">
              <span class="absolute -inset-1.5"></span>
              <span >Signup / Login</span>
            </a>
            <div *ngIf="authService.isLoggedIn()" class="flex items-center">
                <span class="text-white pr-5">Welcome, {{ authService.username() }}</span>
                <button (click)="logout()" class="rounded bg-red-500 px-3 py-1 text-white hover:bg-red-600">Logout</button>
            </div>
          </div>
        </div>
      </div>
    </div>
 </nav>

<header class="relative bg-white shadow-sm">
  <div class="mx-auto max-w-7xl px-4 py-6 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold tracking-tight text-gray-900">{{routeTitle()}}</h1>
  </div>
</header>
<div class="flex min-h-screen">
  <!-- Right side: main + footer -->
  <div class="flex flex-1 flex-col">
    <!-- Main content -->
    <main class="flex-1 pl-10 p-6 bg-gray-50">
      <router-outlet></router-outlet>
    </main>

    <!-- Footer -->
    <footer class="border-t bg-white px-6 py-4 text-sm text-gray-500">
      Bhrigu©2026
    </footer>
  </div>
</div>